html {
    overflow-x: hidden;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding-top: 10rem;
    margin: auto;
    height: 70vh;
    padding-bottom: 6rem;
}

.text-center {
    text-align: center;
}


/*form css*/

.input {
    margin-bottom: 1rem;
}

.signinBut {
    background-color: green;
}